{% extends '../base.html' %}

{% block container %}

    <blockquote class="blockquote">
        <p class="mb-0">Listado de Pacientes</p>
    </blockquote>
    
    {% if pacientes|length > 0 %}
        <table class="table table-hover">
            <thead role="rowgroup">
              <colgroup>
                <col style="width: 10%"/>
                <col style="width: 20%"/>
                <col style="width: 20%"/>
                <col style="width: 10%"/>
              </colgroup>
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th colspan="4" style="text-align: center;">Alergias</th>
                </tr>
              </thead>
              <tr>
                <th>#</th>
                <th>Número de expediente</th>
                <th>Tipo de Sangre</th>
                <th>Nombre</th>
                <th>Medicamento</th>
                <th>Fecha</th>
              </tr>
            </thead>
            <tbody role="rowgroup">
                {% for paciente in pacientes.all %}
                    <tr rowspan="4">

                        <td rowspan="4">{{ paciente.id }}</td>
                        <td rowspan="4">{{ paciente.no_expediente }}</td>
                        <td rowspan="4">{{ paciente.tipo_sangre }}</td>

                        {% if paciente.alergias|length > 0 %}

                            {% for alergia in paciente.alergias %}

                                {% if alergia.counter == 0 %}
                                    <td>{{ alergia.nombre }}</td>
                                    <td>{{ alergia.medicamento }}</td>
                                    <td>{{ alergia.fecha }}</td>
                                {% else %}
                                    <tr>
                                        <td>{{ alergia.nombre }}</td>
                                        <td>{{ alergia.medicamento }}</td>
                                        <td>{{ alergia.fecha }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}

                        {% else %}
                            <tr>
                            </tr>
                                <td colspan="4" style="text-align:center;">No se han registrado alergias</td>
                            <tr>
                            </tr>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
          </table>
    {% else %}

        <h1>No hay registro de pacientes.</h1>
        
    {% endif %}
        

{% endblock %}